# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
rawdata/dft_group_detail.csv
rawdata/dft_item_detail.csv
rawdata/dft_mdr_fuel_type.csv
rawdata/dft_mdr_rfr_location.csv
rawdata/dft_mdr_test_outcome.csv
rawdata/dft_mdr_test_type.csv
rawdata/test_item_2021.csv
rawdata/test_result_2021.csv
rawdata/test_item_2021/test_item_20220601064611_25463.csv
rawdata/test_item_2021/test_item_20220601064611_25464.csv
rawdata/test_item_2021/test_item_20220601064611_25465.csv
rawdata/test_item_2021/test_item_20220601064611_25466.csv
rawdata/test_item_2021/test_item_20220601064611_25468.csv
rawdata/test_item_2021/test_item_20220601064611_25469.csv
rawdata/test_item_2021/test_item_20220601064611_25470.csv
rawdata/test_item_2021/test_item_20220601064611_25472.csv
rawdata/test_item_2021/test_item_20220601064611_25475.csv
rawdata/test_item_2021/test_item_20220601064611_25478.csv
rawdata/test_item_2021/test_item_20220601064611_25480.csv
rawdata/test_item_2021/test_item_20220601064611_25482.csv
rawdata/test_result_2022/test_result_20220531131730_32355.csv
rawdata/test_result_2022/test_result_20220531131730_32357.csv
rawdata/test_result_2022/test_result_20220531131730_32360.csv
rawdata/test_result_2022/test_result_20220531131730_32361.csv
rawdata/test_result_2022/test_result_20220531131730_32365.csv
rawdata/test_result_2022/test_result_20220531131730_32367.csv
rawdata/test_result_2022/test_result_20220531131730_32370.csv
rawdata/test_result_2022/test_result_20220531131730_32372.csv
rawdata/test_result_2022/test_result_20220531131730_32375.csv
rawdata/test_result_2022/test_result_20220531131730_32378.csv
rawdata/test_result_2022/test_result_20220531131730_32384.csv
rawdata/test_result_2022/test_result_20220531131730_32386.csv
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.gitignore
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
